.alert {
padding: 10px;
border-radius: 5px;
font-size: 10px;
font-weight: bold;
border: 1px solid black !important
}

.alert-error {
background-color: #ffcccc;
color: #cc0000;
}

.alert-success {
background-color: #ccffcc;
color: #008000;
}
