.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 10px;
  }
  
.alert.alert-success {
    background-color: #d4edda;
    border-color: black;
    color: red;
  }
  
.alert.alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    font-size: 25px;
  }
