.alert {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 10px;
  }
  
.alert.alert-success {
  background-color: #d4edda;
  border: 2px solid green;
  color: green;
  font-size: 25px;
  }
  
.alert.alert-error {
  background-color: lightpink;
  border: 5px solid red;
  color: red;
  font-size: 25px;
  }
