.app {
    padding: 0.5em 0.5em;
    
  }
.app-header {
  background-color: forestgreen;
}

body {
  min-height: 100vh;
  background-color: lightgray;
}

.properties {
  padding: 0.5rem;
}

.properties > .item {
  display: inline-block;
  width: 33.33%;
  padding: 0.5rem;
  box-sizing: border-box;
}